In [1]:
pip install cx_Oracle

Collecting cx_Oracle
  Using cached cx_Oracle-8.3.0.tar.gz (363 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: cx_Oracle
  Building wheel for cx_Oracle (pyproject.toml): started
  Building wheel for cx_Oracle (pyproject.toml): finished with status 'done'
  Created wheel for cx_Oracle: filename=cx_Oracle-8.3.0-cp311-cp311-win_amd64.whl size=223852 sha256=2988cf6b745fe59d794a4662041cc1d0be5d16473be62fd4508f59a95a05b7ef
  Stored in directory: c:\users\administrator\appdata\local\pip\cache\wheels\e0\41\f9\63e9c4d1ec7b2e8faffc1d6f3219c2e168c306b042d77e2b6f
Successfully built cx_Oracle
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import cx_Oracle
import pandas as pd
con = cx_Oracle.connect("c##hr","hr","localhost:1521/xe")
cur = con.cursor()
cur.execute('select * from employees')
res = cur.fetchall()
df = pd.DataFrame(res)
cur.execute("select column_name from user_tab_columns where table_name='EMPLOYEES'")
col = cur.fetchall()
li = []
for i in col:
    for j in i:
        li.append(j)
df.columns = li
df.head()
cur.close()
con.close()

In [4]:
df

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,100,Steven,King,SKING,515.123.4567,2003-06-17,AD_PRES,24000.0,NaN,NaN,90.0
1,101,Neena,Kochhar,NKOCHHAR,515.123.4568,2005-09-21,AD_VP,17000.0,NaN,100.0,90.0
2,102,Lex,De Haan,LDEHAAN,515.123.4569,2001-01-13,AD_VP,17000.0,NaN,100.0,90.0
3,103,Alexander,Hunold,AHUNOLD,590.423.4567,2006-01-03,IT_PROG,9000.0,NaN,102.0,60.0
4,104,Bruce,Ernst,BERNST,590.423.4568,2007-05-21,IT_PROG,6000.0,NaN,103.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
102,202,Pat,Fay,PFAY,603.123.6666,2005-08-17,MK_REP,6000.0,NaN,201.0,20.0
103,203,Susan,Mavris,SMAVRIS,515.123.7777,2002-06-07,HR_REP,6500.0,NaN,101.0,40.0
104,204,Hermann,Baer,HBAER,515.123.8888,2002-06-07,PR_REP,10000.0,NaN,101.0,70.0
105,205,Shelley,Higgins,SHIGGINS,515.123.8080,2002-06-07,AC_MGR,12008.0,NaN,101.0,110.0
106,206,William,Gietz,WGIETZ,515.123.8181,2002-06-07,AC_ACCOUNT,8300.0,NaN,205.0,110.0

과제1_1127. employee 테이블에서 탐색적 분석을 통하여 3가지 인사이트를 찾아서 설명하세요

In [6]:
df['SALARY'].mean()

6461.8317757009345

In [28]:
df['SALARY'].describe()
print("1. 총 107명의 직원의 급여의 평균은 6461달러이고 급여의 range는 2100달러부터 24000달러이며 표준편차는 3909달러이다.")

1. 총 107명의 직원의 급여의 평균은 6461달러이고 급여의 range는 2100달러부터 24000달러이며 표준편차는 3909달러이다.

In [27]:
group_manager_id = df.groupby("MANAGER_ID")
group_manager_id.describe()
manager_100 = df[df['EMPLOYEE_ID']==100]
print(f"2. Department {manager_100.loc[0,'DEPARTMENT_ID']}의 {manager_100.loc[0,'FIRST_NAME']} {manager_100.loc[0,'LAST_NAME']}이 가장 많은 부하직원 14명을 거느리고 있다.")

2. Department 90.0의 Steven King이 가장 많은 부하직원 14명을 거느리고 있다.

In [14]:
import datetime
import pandas as pd

describe_table = df['HIRE_DATE'].describe()
first_employee = df[df['HIRE_DATE']==describe_table.loc['min']]
first_employee
# last_employee = df[df['HIRE_DATE']==describe_table.loc['max']]
first_employee.loc[0,'FIRST_NAME']
# print(f"3. 가장 먼저 입사한 {first_employee.loc[0,'FIRST_NAME']} {first_employee.loc[0,'LAST_NAME']}은 {describe_table.loc['min'].strftime('%Y/%m/%d')}에 입사하였으며 가장 최근에 입사한 {last_employee.loc[0,'FIRST_NAME']} {last_employee.loc[0,'LAST_NAME']}은 {describe_table.loc['max'].strftime('%Y/%m/%d')}에 입사하였다.")

KeyError: 0