파이썬에서 함수는 크게 내장 함수(Built-in Functions)와 외장 함수(External Functions)로 나뉩니다.

1. 내장 함수 (Built-in Functions):
- 내장 함수는 파이썬 인터프리터에 포함되어 있어, 별도의 모듈을 임포트(import)하지 않고도 사용 예를 들어, print(), len(), type(), range(), zip() 등이 내장 함수입니다.
- 이러한 함수들은 기본적인 작업을 수행하며, 파이썬 프로그래밍의 기본적인 빌딩 블록(building blocks)으로 작동

2. 외장 함수 (External Functions):
- 표준 라이브러리에 포함된 모듈과 함수를 가리키는 것으로 모듈을 임포트하여 사용
- 파이썬 표준 라이브러리의 os, sys, math, random, datetime 등의 모듈에는 다양한 외장 함수가 포함

3. 외부 라이브러리나 패키지
- 표준 라이브러리에 포함되지 않아 기본 설치에는 포함되지 않는다. 
- 이를 사용하려면 먼저 해당 라이브러리나 패키지를 설치
- 외부 라이브러리는 통상적으로 파이썬의 패키지 관리자인 pip를 사용하여 설치
- 설치 후에는 외장 함수와 마찬가지로 필요한 모듈을 임포트하여 사용
- 예: numpy, pandas, requests 등의 외부 라이브러리에 포함된 함수들.

3. 사용자 정의 함수(User-Defined Functions):
- 사용자가 직접 정의하여 사용하는 함수
- def 키워드를 사용하여 함수를 정의하며, 필요에 따라 매개변수와 반환 값을 지정

4. 람다 함수(Lambda Functions):
- 이름 없는 간단한 함수를 정의할 때 사용하는 익명 함수
- lambda 키워드를 사용하여 한 줄로 함수를 정의하며, 주로 간단한 연산이 필요할 때 사용

In [2]:
!pip install pandas  #쓸 때는 import pandas as pd <- 별칭 이라던지 이렇게 씀.

Requirement already satisfied: pandas in c:\kita\anaconda\envs\kita\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\kita\anaconda\envs\kita\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\kita\anaconda\envs\kita\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\kita\anaconda\envs\kita\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\kita\anaconda\envs\kita\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\kita\anaconda\envs\kita\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
# 내장 함수 예제
print("Hello, World!") # 출력 함수
print(len([1,2,3,4])) # 길이 계산 함수
print(type(10)) # 타입 확인 함수

Hello, World!
4
<class 'int'>

In [15]:
# 외장 함수 예제
import math # 수학 모듈 임포트
print(math.sqrt(16)) # 제곱근 계산 함수

import random # 랜덤 모듈 임포트
print(random.randint(1,10)) # 랜덤 정수 생성 함수 randint는 레인지가 양 끝 포함이다. 즉 예제에서는 1에서 10까지.

import datetime # 날짜와 시간 모듈 임포트
print(datetime.datetime.now()) # 현재 날짜와 시간 출력 함수

4.0
10
2023-10-31 15:11:02.283736

In [17]:
# 외부 라이브러리 예제
# 먼저 pip를 사용하여 requests 라이브러리를 설치합니다.
#!pip install pandas

import pandas as pd

# pandas의 DataFrame 객체 생성 #pandas 는 데이터 전처리에 대한 것.
data = {'Name':['Alice','Bob','Charlie'],'Age':[25,30,35]}
df = pd.DataFrame(data)

# pandas의 head() 함수 사용하여 DataFrame의 처음 5행 출력 (여기서는 3행만 존재) head() 빈칸이면 5행 그리고 head(2) 이렇게 지정해주면 2행.
print(df.head(2))

    Name  Age
0  Alice   25
1    Bob   30

In [3]:
import pandas as pd
import seaborn as sns #seaborn에서 데이터도 제공해준다. 그리고 데이터에서 어떤 변수를 선택할지. 그리고 시각화.

titanic = sns.load_dataset('titanic')

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [19]:
# 사용자 함수 예제
def greet(name):
    return f"Hello, {name}!"

print(greet("전유빈")) # 출력: Hello, Alice!

Hello, 전유빈!

#### 람다함수

In [20]:
# 람다 함수는 간단한 한 줄의 함수를 작성할 때 유용
multiply = lambda x, y: x * y
print(multiply(3, 4)) # 출력: 12

12

In [21]:
# 조건 사용:
is_even = lambda x: True if x % 2 == 0 else False
print(is_even(4)) #출력: True
print(is_even(5)) #출력: False

True
False

In [22]:
# map() 함수와 함께 사용:
numbers = [1,2,3,4,5]
squared_numbers = map(lambda x: x * x, numbers)
print(list(squared_numbers)) # 출력: [1,4,9,16,25]

[1, 4, 9, 16, 25]

In [23]:
# filter() 함수와 함께 사용:
numbers = [1,2,3,4,5]
even_numbers = filter(lambda x:x % 2 == 0, numbers)
print(list(even_numbers)) #출력: [2, 4]

[2, 4]

In [2]:
# sorted() 함수와 함께 사용:
students = [('Alice', 90), ('Bob', 85), ('Charlie', 88)]
#sorted_students = sorted(students, key = lambda x: x[1]) # sorted 함수 안에 key = 는 sorted 하는 기준을 의미한다.
sorted_students = sorted(students, key = lambda x: x[1], reverse=True) #내림차순
print(sorted_students)

[('Alice', 90), ('Charlie', 88), ('Bob', 85)]

#### 함수 vs 메소드 
- 함수 (Function)
    - 함수는 특정 작업을 수행하거나 값을 계산하기 위해 정의된 코드의 블록
    - 함수는 def 키워드를 사용하여 정의
    - 함수는 전역적으로 호출할 수 있거나 다른 함수 내부에서 호출할 수 있다.
    - 예: print(), len(), max()
- 메소드 (Method)
    - 메소드는 객체에 속한 함수즉, 메소드는 특정 객체의 속성이거나 기능으로 정의
    - 메소드는 객체와 연결되어 있으며, . (점) 표기법을 사용하여 해당 객체에 대한 메소드를 호출
    - 메소드는 첫 번째 매개변수로 self를 사용하여 객체 자체를 참조 (클래스 내부에서 메소드를 정의할 때)
- 주요 차이점
    - 정의: 함수는 독립적으로 정의되지만, 메소드는 클래스 내부에서 정의
    - 호출: 함수는 이름만으로 호출될 수 있지만, 메소드는 객체를 통해 호출
    - 참조: 메소드는 첫 번째 매개변수로 객체 자신을 참조(self), 반면 함수는 이런 자체 참조 매개변수를 갖지 않는다.

In [4]:
def my_function(): #인풋도 없고 아웃풋도 없는 사용자함수 예제.
    print("Hello from a function")

my_function() # 함수 호출

Hello from a function

In [6]:
class MyClass:
    def my_method(self):
        print("Hello from a method")
    
obj = MyClass()
obj.my_method() # 메소드 호출

Hello from a method

In [7]:
# 메소드 사례. 파이썬에서는 모든 자료형을 객체로 부를 수 있음. 아래 예제에서는 리스트의 객체의 메소드를 썼음.
my_list = [1,2,3,4,5]

my_list.append(6) #리스트에 요소 추가
my_list

[1, 2, 3, 4, 5, 6]

In [9]:
my_string = "hello"

upper_string = my_string.upper() #문자열을 대문자로 변환
print(upper_string)

HELLO

In [10]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

value = my_dict.get('key1') #key1에 해당하는 값을 가져옴
value

'value1'

In [11]:
my_set = {1,2,3}

my_set.add(4) #집합에 요소 추가
my_set

{1, 2, 3, 4}

In [12]:
my_list = [1,2,3,4,5]

index = my_list.index(3) # 리스트에서 3이라는 값의 인덱스 반환
index

2

#### 사용자 함수

In [28]:
def add_number(n1, n2): #인풋 값와 아웃풋이 있는 경우.
    ret = n1 + n2
    return ret #결과값 반환할 때는 항상 return

def add_txt(t1, t2): #인풋 값은 있으나 아웃풋은 없는. 결과값이 없는 형태.
    print(t1+t2) 

ans1 = add_number(10, 15)
print(ans1)                # 25가 출력됨
ans2 = add_number(20, 25)
print(ans2)
text1 = '대한민국~'
text2 = '만세!!'
add_txt(text1, text2)    # '대한민국~만세!!'가 출력됨

25
45
대한민국~만세!!

In [14]:
# 함수 인자: 기본적으로 인자 순서에 대응되는 값을 함수 코드에 대입
def add_txt(t1, t2 = '파이썬'): # t2 기본값을 대입한 기본 인자는 마지막에 위치해야 함.
    print(t1+' : '+t2)
    
add_txt('베스트')                  #'베스트: 파이썬' 이 출력됨. t1은 베스트, t2는 기본값이 대입
add_txt(t2 = '대한민국', t1 = '1등') #'1등: 대한민국'이 출력됨. 키워드 인자에 의한 값 전달. 인자의 순서는

def func1(*args): # 인자의 개수가 불명확한 경우 가변 인자 사용. args는 함수 내부에서 튜플로 처리
    print(args)
    
def func2(width, height, **kwargs): # 키워드 인자가 불명확한 경우 **kwargs를 사용. 함수 내부에서 사전으로 처리
    print(kwargs)
    
func1()
func1(3,5,1,5,8)
func2(10,20) 
func2(10,20, depth=50, color='blue')

베스트 : 파이썬
1등 : 대한민국
()
(3, 5, 1, 5, 8)
{}
{'depth': 50, 'color': 'blue'}

In [15]:
# Q. 1~10까지 가변적으로 연산을 할 수 있는 사용자 함수를 작성 (매개변수가 가변적)
def add_multiple(*args):
    return sum(args)

add_multiple(1,2,3,4,5)

15

In [19]:
# Q. **args를 이용하여 아래와 같이 출력할 수 있는 사용자 함수 func2를 작성하세요
# 출력:
# Width: 100
# Height: 200
# Other arguments: {'color':'red','thickness': 5}

def func2 (width, height, **kwargs):
    print(f'Width: {width}')
    print(f'Height: {height}')
    print(f'Other arguments: {kwargs}')

func2(100,200,color='red', thickness=5)
func2(100,200,color='red', thickness=5, type='large') #딥러닝이나 이런 것에 **kwargs 많이 쓰인다고 함.

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickness': 5}

#### 인자와 리턴값 여부에 따른 함수 유형

In [20]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'Hi'

a = say()
print(a)

Hi

In [22]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
# add(3,4)
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [24]:
# 입력값도 결과값도 없는 함수

def say():
    print('Hi')

a = say()
print(a)

Hi
None

In [23]:
# 입력값도 결과값도 없는 함수
def add(a,b):
    return a+b
a = add(3,4)
print(a)
# add(3,4)

7

In [26]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

print("가장 큰 수는 %d입니다." %(max(20,1,30)))
max(10,20,30)

가장 큰 수는 30입니다.

30

In [31]:
def math(x, y, z):
    if z == '+':
        return x+y
    elif z == '-':
        return x-y
    elif z == '*':
        return x*y
    elif z == '/':
        return x/y
    elif z == '//':
        return x//y
    elif z == '%':
        return x%y
    elif z == '**':
        return x**y
    else:
        return

print(math(3,5,'+'))
print(math(3,5,'-'))
print(math(3,5,'*'))
print(math(3,5,'/'))
print(math(3,5,'//'))
print(math(3,5,'%'))
print(math(3,5,'**'))
print(math(int(input("숫자1: ")), int(input("숫자2: ")), input("기호: ")))

8
-2
15
0.6
0
3
243
숫자1: 3
숫자2: 5
기호: *
15

In [33]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(5,3)

'5 bigger than 3'

In [ ]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

In [35]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [39]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈, 곱셈 연산을 수행하세요.
def add_mul(choice, *args):
    if choice == '+':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == '*':
        result = 1
        for i in args:
            result *= i
        return result
    else:
        print('수행할 수 없는 연산입니다.')

print(add_mul('+', 1,2,3,4,5))
print(add_mul('*', 1,2,3,4,5))

15
120

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고 
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [41]:
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)
    
func1()                 #'지역변수' 가 출력됨

지역변수

In [42]:
print(strdata) # '전역변수' 가 출력됨

전역변수

In [43]:
param = 10
def func2(param):
    param = 1

print(param)           #  전역변수 10이 출력됨

10

In [ ]:
param = 10
def func3():
    global param      # 함수 내부에서 전역변수를 사용하려면 'global' 키워드를 이용해 전역변수를 사용한다고 명시
    param = 50
print(func3())
print(param)          # 50이 출력됨

In [45]:
param = 10
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)

def func2(param):
    param = 1
    
def func3():
    global param
    param = 50
    
func1()
print(strdata)
print(param)
func2(param)
print()
print(param)
func3()
print(param)

지역변수
전역변수
10

10
50

In [46]:
# 함수 안에서 선언된 변수의 효력 범위
a = 1
def vartest(a):
    a = a + 1

print(vartest(a))
print(a)

None
1

In [47]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용

a = 1
def vartest(a):
    a = a+1
    return a
a = vartest(a)
print(a)

2

In [48]:
# global 명령을 이용하는 방법 #####################
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

#### 함수 리턴값 : return
- 함수는 한 개 이상의 값을 리턴할 수 있으며 리턴값이 없을 수도 있다.
- 리턴 값이 여러 개인 경우에는 튜플로 리턴값을 만들어 리턴

In [49]:
def reverse(x,y,z):
    return z, y, x

ret = reverse(1,2,3)
print(ret)

r1, r2, r3 = reverse('a','b','c') ########################
print(r1,r2,r3)
print(r1); print(r2); print(r3) #튜플의 요소 개수만큼 나누어서 리턴값을 개별적으로 받을 수 있음

(3, 2, 1)
c b a
c
b
a

In [50]:
# 현재 작업 폴더 ############주피터 노트북 매직워드
%pwd

'D:\\kdt_231026\\workspace\\m1_programming'

In [60]:
#################
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_231026\workspace\m1_programming 디렉터리

2023-11-01  오후 02:20    <DIR>          .
2023-11-01  오후 02:20    <DIR>          ..
2023-11-01  오전 11:32    <DIR>          .ipynb_checkpoints
2023-10-30  오후 06:13            52,993 python_1_자료형.ipynb
2023-10-31  오후 02:39            19,870 python_2_제어문.ipynb
2023-11-01  오후 02:19            37,136 python_3_함수.ipynb
2023-10-30  오전 09:21            17,055 python_자료형_1_과제1027.ipynb
2023-10-31  오전 11:51            19,485 과제_1030.ipynb
2023-11-01  오전 11:46            28,232 과제_1031.ipynb
2023-11-01  오후 02:08             4,075 과제_1101.ipynb
               7개 파일             178,846 바이트
               3개 디렉터리  472,372,944,896 바이트 남음

In [59]:
#################
!dir

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_231026\workspace\m1_programming 디렉터리

2023-11-01  오후 02:20    <DIR>          .
2023-11-01  오후 02:20    <DIR>          ..
2023-11-01  오전 11:32    <DIR>          .ipynb_checkpoints
2023-10-30  오후 06:13            52,993 python_1_자료형.ipynb
2023-10-31  오후 02:39            19,870 python_2_제어문.ipynb
2023-11-01  오후 02:19            37,136 python_3_함수.ipynb
2023-10-30  오전 09:21            17,055 python_자료형_1_과제1027.ipynb
2023-10-31  오전 11:51            19,485 과제_1030.ipynb
2023-11-01  오전 11:46            28,232 과제_1031.ipynb
2023-11-01  오후 02:08             4,075 과제_1101.ipynb
               7개 파일             178,846 바이트
               3개 디렉터리  472,372,944,896 바이트 남음

In [53]:
#  파일 만들기 #echo 라는 것은 현재 폴더에 test.txt를 만들라는 것.
!echo. > test.txt

In [57]:
# 파일 삭제
!del test.txt

#### 파일 입출력

In [63]:
# 폴더 경로 이동
import os
os.chdir('D:\\kdt_231026\\workspace\\m1_programming')

In [64]:
%pwd

'D:\\kdt_231026\\workspace\\m1_programming'

In [66]:
#파일 읽고 쓰기
f = open('test1.txt','w') #w는 write 하겠다고 test1.txt를 열고 밑에는 닫음.
f.close()

In [67]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_231026\workspace\m1_programming 디렉터리

2023-11-01  오후 02:25    <DIR>          .
2023-11-01  오후 02:25    <DIR>          ..
2023-11-01  오전 11:32    <DIR>          .ipynb_checkpoints
2023-10-30  오후 06:13            52,993 python_1_자료형.ipynb
2023-10-31  오후 02:39            19,870 python_2_제어문.ipynb
2023-11-01  오후 02:25            38,750 python_3_함수.ipynb
2023-10-30  오전 09:21            17,055 python_자료형_1_과제1027.ipynb
2023-11-01  오후 02:25                 0 test1.txt
2023-10-31  오전 11:51            19,485 과제_1030.ipynb
2023-11-01  오전 11:46            28,232 과제_1031.ipynb
2023-11-01  오후 02:08             4,075 과제_1101.ipynb
               8개 파일             180,460 바이트
               3개 디렉터리  472,372,944,896 바이트 남음

In [68]:
f = open('test1.txt','w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [69]:
f = open('test1.txt','r') #'r' 즉 read모드로 하겠다.
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [71]:
f = open('test1.txt','r')
for i in range(10):
    line = f.readline()
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [72]:
##############몇번째 줄까지 있는지 모를때는 while이 조금 더 나을듯.
f = open('test1.txt','r')
while True:     
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [73]:
# f.read()는 파일 내용 전체를 문자열로 반환
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [74]:
f = open('test1.txt','a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [75]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [76]:
# with 문과 같이 사용 <-  with 와 같이 사용할 경우 close를 안해줘도 메모리 차지 안함. ##############
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [77]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [78]:
with open('test2.txt','w') as f:
    for i in range(1,11):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [79]:
with open('test2.txt','a') as f:
    for i in range(11,16):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [81]:
with open('test2.txt','r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈 
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언

In [82]:
# time 모듈
import time

print('5초간 프로그램을 정지합니다.')
time.sleep(5)
print('5초가 지나갔습니다.')

5초간 프로그램을 정지합니다.
5초가 지나갔습니다.

In [83]:
# 사용자 작성 모듈 ################################
with open('mymodule.py','w') as f:
    f. write(
'''
def add_txt(t1,t2):
    return t1+':'+t2
def reverse(x,y,z):
    return z,y,x
''')

In [84]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_231026\workspace\m1_programming 디렉터리

2023-11-01  오후 03:16    <DIR>          .
2023-11-01  오후 03:16    <DIR>          ..
2023-11-01  오전 11:32    <DIR>          .ipynb_checkpoints
2023-11-01  오후 02:42                18 foo.txt
2023-11-01  오후 03:16                84 mymodule.py
2023-10-30  오후 06:13            52,993 python_1_자료형.ipynb
2023-10-31  오후 02:39            19,870 python_2_제어문.ipynb
2023-11-01  오후 03:15            48,780 python_3_함수.ipynb
2023-10-30  오전 09:21            17,055 python_자료형_1_과제1027.ipynb
2023-11-01  오후 02:40               261 test1.txt
2023-11-01  오후 02:45               261 test2.txt
2023-10-31  오전 11:51            19,485 과제_1030.ipynb
2023-11-01  오전 11:46            28,232 과제_1031.ipynb
2023-11-01  오후 03:06             4,859 과제_1101.ipynb
              11개 파일             191,898 바이트
               3개 디렉터리  472,372,932,608 바이트 남음

In [85]:
with open('mymodule.py','r') as f:
    data = f.read()
    print(data)

def add_txt(t1,t2):
    return t1+':'+t2
def reverse(x,y,z):
    return z,y,x

In [86]:
import mymodule

ret1 = mymodule.add_txt('대한민국','1등')
print(ret1)

대한민국:1등

In [87]:
ret2 = mymodule.reverse(1,2,3)
print(ret2)

(3, 2, 1)

In [90]:
# 클래스
class MyClass:
    var = '안녕하세요'
    def sayHello(self):
        print(self.var)

obj = MyClass() # MyClass 인스턴스 객체 생성
print(obj.var)
print(obj.sayHello())

안녕하세요
안녕하세요
None

In [91]:
#설치 안되어 있으면 !pip install pandas
import pandas as pd

df1 = pd.DataFrame({'a': [1,2,3],'b': [4,5,6], 'c': [7,8,9]})
df1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [92]:
##################
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes

In [93]:
import numpy as np
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),
                  columns =['a','b','c']) #column 제목을 안 주면 그냥 인덱스가 생성됨.
df2
#즉 위에서는 사전형태로 데이터를 넣었었는데 지금은 리스트 형태로 넣었음.
#파이썬은 배열이 없지만 파이썬의 분석 라이브러리인 numpy를 사용해서 배열을 쓴다. 리스트랑 배열이랑 서로 타입을 바꿔줄 수 있음.

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [97]:
data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df3 = pd.DataFrame(data, columns=['a','b','c'])
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [98]:
df1.describe()

         a    b    c
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [99]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65)) # 아스키코드

3
False
True
A

In [1]:
print(float(3))
print(int(3.9))
print(max(1,10))
print(min(1,10))
print(pow(10,2)) # 거듭제곱
print(round(2.675))

3.0
3
10
1
100
3

In [2]:
li = [1,2,3]
sum(li)

6

In [3]:
my_list = [1,2,3,4,5]
print(len(my_list))

5

In [4]:
age = 30
print("I am " + str(age) + " years old.")

I am 30 years old.

In [5]:
my_tuple = (1,2,3)
print(list(my_tuple))

[1, 2, 3]

In [6]:
my_list = [3,1,4,2]
print(sorted(my_list))
my_list

[1, 2, 3, 4]

[3, 1, 4, 2]

In [7]:
my_string = "Python"
print(type(my_string))

<class 'str'>

In [8]:
for idx, element in enumerate (['ele1','ele2','ele3']):
    print(idx+1,element)

1 ele1
2 ele2
3 ele3

In [9]:
#몫과 나머지 #######
print(divmod(7,3))

(2, 1)

In [1]:
sum = lambda a,b:a+b #함수 이름 필요없이 바로 기능할 수 있게
sum(3,4)

7

In [2]:
def sum(a,b):
    return a+b

print(sum(3,4))

7

In [4]:
myList = [lambda a,b:a+b, lambda a,b:a*b] #람다 함수를 리스트로 만들 수도 있음.
print(myList[0](6,5))
print(myList[1](6,5))

11
30

In [8]:
# Q. lambda를 리스트 형태로 작성하여 사칙 연산을 해보세요.
myList = [lambda a,b:a+b, lambda a,b: a-b, lambda a,b:a*b, lambda a,b:a/b, lambda a,b:a//b, lambda a,b:a%b, lambda a,b:a**b]

print(myList[0](10,5))
print(myList[1](10,5))
print(myList[2](10,5))
print(myList[3](10,5))
print(myList[4](10,5))
print(myList[5](10,5))
print(myList[6](10,5))

for i in range(len(myList)):
    print(myList[i](11,2))

15
5
50
2.0
2
0
100000
13
9
22
5.5
5
1
121

In [9]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [10]:
li = [1,2,3,4,5]
for i in range(1,len(li)):
    print(i,end=' ')

print()
print(len(li))

1 2 3 4
5

In [11]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2)))
print(list(range(0,-10,-1)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [12]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']):
    print(i, name)

0 james
1 tom
2 susan

In [14]:
print(eval('1+2'))

3

In [15]:
# 외장함수: 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test3.txt','wb') #'wb' 는 바이너리로 쓴다는 것. 바이너리로 쓰면 용량이 적음.
data = {1:'python', 2:'you need'}
pickle.dump(data,f)
f.close()

In [16]:
import pickle
f = open('test3.txt','rb') #'rb' 는 바이너리를 읽는다는 것.
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [18]:
import os
os.environ['PATH']

'C:\\kita\\anaconda\\envs\\kita;C:\\kita\\anaconda\\envs\\kita\\Library\\mingw-w64\\bin;C:\\kita\\anaconda\\envs\\kita\\Library\\usr\\bin;C:\\kita\\anaconda\\envs\\kita\\Library\\bin;C:\\kita\\anaconda\\envs\\kita\\Scripts;C:\\Program Files\\Java\\jdk-1.8\\bin;C:\\Windows\\system32;C:\\Windows;C:\\Windows\\System32\\Wbem;C:\\Windows\\System32\\WindowsPowerShell\\v1.0\\;C:\\Windows\\System32\\OpenSSH\\;C:\\kita\\anaconda\\Library\\bin;C:\\kita\\anaconda\\Library\\mingw-w64;C:\\kita\\anaconda;C:\\kita\\anaconda\\Scripts;'

In [19]:
%pwd #현재 작업하는 폴더 위치

'D:\\kdt_231026\\workspace\\m1_programming'

In [26]:
os.getcwd() #현재 작업하는 폴더 위치

'D:\\kdt_231026\\workspace\\m1_programming'

In [22]:
# 폴더변경
os.chdir('D:\\kdt_231026\\workspace\\m1_programming\\ex')

In [24]:
os.chdir('D:\\kdt_231026\\workspace\\m1_programming')

In [30]:
import os
os.rename('test_new.txt','test1.txt')
#######파일 이름 바꾸기 test_new 에서 test1으로

In [31]:
!dir

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_231026\workspace\m1_programming 디렉터리

2023-11-02  오전 11:05    <DIR>          .
2023-11-02  오전 11:05    <DIR>          ..
2023-11-02  오전 10:30    <DIR>          .ipynb_checkpoints
2023-11-02  오전 11:02    <DIR>          ex
2023-11-01  오후 02:42                18 foo.txt
2023-11-01  오후 04:17                70 hw_1101_5.txt
2023-11-01  오후 04:19             1,117 mydata.txt
2023-11-01  오후 03:16                84 mymodule.py
2023-10-30  오후 06:13            52,993 python_1_자료형.ipynb
2023-10-31  오후 02:39            19,870 python_2_제어문.ipynb
2023-11-02  오전 11:04            74,687 python_3_함수.ipynb
2023-10-30  오전 09:21            17,055 python_자료형_1_과제1027.ipynb
2023-11-01  오후 02:40               261 test1.txt
2023-11-01  오후 02:45               261 test2.txt
2023-11-02  오전 10:48                40 test3.txt
2023-11-01  오후 03:18    <DIR>          __pycache__
2023-10-31  오전 11:51            19,485 과제_1030.ipynb
2023-11-01  오전 11:46            28,232 과제_1031.ipynb
2023-11-02  오전 10:30            12,069 과제_1101.ipynb
2023-11-02  오전 11:00             1,912 과제_1102.ipynb
              15개 파일             228,154 바이트
               5개 디렉터리  472,372,858,880 바이트 남음

In [25]:
ls

 D 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 02B1-19A2

 D:\kdt_231026\workspace\m1_programming 디렉터리

2023-11-02  오전 11:02    <DIR>          .
2023-11-02  오전 11:02    <DIR>          ..
2023-11-02  오전 10:30    <DIR>          .ipynb_checkpoints
2023-11-01  오후 03:18    <DIR>          __pycache__
2023-11-02  오전 11:02    <DIR>          ex
2023-11-01  오후 02:42                18 foo.txt
2023-11-01  오후 04:17                70 hw_1101_5.txt
2023-11-01  오후 04:19             1,117 mydata.txt
2023-11-01  오후 03:16                84 mymodule.py
2023-10-30  오후 06:13            52,993 python_1_자료형.ipynb
2023-10-31  오후 02:39            19,870 python_2_제어문.ipynb
2023-11-02  오전 11:02            73,690 python_3_함수.ipynb
2023-10-30  오전 09:21            17,055 python_자료형_1_과제1027.ipynb
2023-11-01  오후 02:40               261 test1.txt
2023-11-01  오후 02:45               261 test2.txt
2023-11-02  오전 10:48                40 test3.txt
2023-10-31  오전 11:51            19,485 과제_1030.ipynb
2023-11-01  오전 11:46            28,232 과제_1031.ipynb
2023-11-02  오전 10:30            12,069 과제_1101.ipynb
2023-11-02  오전 11:00             1,912 과제_1102.ipynb
              15개 파일             227,157 바이트
               5개 디렉터리  472,372,862,976 바이트 남음

In [32]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('D:\\kdt_231026\\workspace\\m1_programming/*.txt') #  이번 예제에서는 이 폴더의 .txt로 끝나는 모든 파일과 디렉토리 리스트 반환

['D:\\kdt_231026\\workspace\\m1_programming\\foo.txt',
 'D:\\kdt_231026\\workspace\\m1_programming\\hw_1101_5.txt',
 'D:\\kdt_231026\\workspace\\m1_programming\\mydata.txt',
 'D:\\kdt_231026\\workspace\\m1_programming\\test1.txt',
 'D:\\kdt_231026\\workspace\\m1_programming\\test2.txt',
 'D:\\kdt_231026\\workspace\\m1_programming\\test3.txt']

In [34]:
import numpy as np

np.arange(200,301)

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300])

In [36]:
import numpy as np
def sum(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300)

25250

#### sort, sorted 모두 key, reverse 매개변수를 갖고 있다.
- reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [39]:
# strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a','ca','bar','aaaa','ababa']
strings.sort(key = lambda x:len(set(x)))   #원소들을 set로 바꾸고 그것의 len을 기준으로 sort 하기. 즉 원본을 바꾸기.
strings[::-1] #역순 즉 내림차순으로 정렬하기. 제일 큰것부터 작은 것으로

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [ ]:
# Q. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ('a','ca','bar','aaaa','ababa')
s_list=list(strings)
strings.sort(key = lambda x:len(set(x))) #기본 정렬(오름차순)
print(s_strings[::-1]  #거꾸로 출력(내림차순으로 나오게)

In [41]:
#url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')
print(x)
x[2]

['http:', '', 'news.naver.com', 'main', 'read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601']

'news.naver.com'

#### url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [43]:
# 문자열이 문자인지 검사
txt1 = 'A'
txt2 = '안녕'
txt3 = 'Warcraft Three'
txt4 = '3PO'
ret1 = txt1.isalpha()
ret2 = txt2.isalpha()
ret3 = txt3.isalpha()
ret4 = txt4.isalpha()
print(ret1)       # True 가 출력됨
print(ret2)       # True 가 출력됨
print(ret3)       # False 가 출력됨
print(ret4)       # False 가 출력됨

True
True
False
False

In [44]:
# 문자열이 숫자인지 검사

txt1 = '010-1234-5678'
txt2 = 'R2D2'
txt3 = '1212'

ret1 = txt1.isdigit()
ret2 = txt2.isdigit()
ret3 = txt3.isdigit()
print(ret1) # False가 출력됨
print(ret2) # False가 출력됨
print(ret3) # True가 출력됨

False
False
True

In [45]:
#문자열이 문자 또는 숫자인지 검사 : 문자열이 영어, 한글 혹은 숫자로 되어있으면 참 리턴, 아니면 거짓 리턴
txt1 = '안녕하세요?'
txt2 = '1. Title-제목을 넣으세요'
txt3 = '3피오R2D2'

ret1 = txt1.isalnum()
ret2 = txt2.isalnum()
ret = txt3.isalnum()
print(ret1)    # False가 출력됨
print(ret2)    # False가 출력됨
print(ret3)    # True가 출력됨

False
False
True

In [49]:
txt = 'A lot of Things occur each day.'
ret1 = txt.upper()   # 대문자
ret2 = txt.lower()   # 소문자
ret3 = txt.title()   # 타이틀에 쓰는 형식 대로 문장의 각 단어의 첫글자만 대문자
ret4 = txt. capitalize() # 문장의 첫글자만 대문자
print(ret1)
print(ret2)
print(ret3)
print(ret4)

A LOT OF THINGS OCCUR EACH DAY.
a lot of things occur each day.
A Lot Of Things Occur Each Day.
A lot of things occur each day.