#### [과제1_1102]: 실행 가능한 숫자를 문자열 ('5+5') 입력으로 받아 문자열을 실행한 결과값을 출력하세요.

In [30]:
print(eval(input('연산을 입력하세요.: ')))

연산을 입력하세요.: 10*8/5
16.0

In [41]:
num = input('5+5 : ')
maths = ['+','-','/','*']
math = {'+':lambda a,b:a+b,'-':lambda a,b:a-b,'/':lambda a,b:a/b,'*':lambda a,b:a*b}

num_list = list(num)
for i in num_list:
    if i in maths:
        num = num.split(i)
        print(math[i](int(num[0]),int(num[1])))

5+5 : 5+5
10

#### [과제2_1102]: enumerate와 f-string을 사용해서 특정 리스트에서 원하는 형태로 출력하세요. (인덱스와 내용을 믹스하여)

In [5]:
list1 = ['사과','배','샤인머스캣','키위','망고','귤','수박']
print('내가 제일 좋아하는 과일 순서')
for i, fruit in enumerate (list1):
    print(f'{i+1}번째 {fruit}')

내가 제일 좋아하는 과일 순서
1번째 사과
2번째 배
3번째 샤인머스캣
4번째 키위
5번째 망고
6번째 귤
7번째 수박

#### [과제3_1102] : 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)

In [27]:
#1번째 방법
list1 = [0,1,2,3,4,5,6]
del list1[2]
print(list1)

#2번째 방법
list1 = [0,1,2,3,4,5,6]
list1.remove(2)
print(list1)

#3번째 방법
list1 = [0,1,2,3,4,5,6]
list1.pop(2)
print(list1)

[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]
[0, 1, 3, 4, 5, 6]

#### [과제4_1102] :  내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.

In [5]:
list2 = [0,1,2,3,4,5,6]
list2.clear()
print(list2)

[]

In [42]:
my_list = [0, 1, 2, 3, 4, 5, 6]
del my_list[:] #끝에서 끝까지는 :로 하면 된다.
print(my_list)

[]

#### [과제5_1102] :  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요

[1,2,3,4,5] -> [1,4,9,16,25]

[1,2,3,4,5] -> [1,2]

In [10]:
list3 = [1,2,3,4,5]
sqr = map(lambda x: x*x, list3)
print(list(sqr))

#del list3[:2]
filtered = filter(lambda x: x<3, list3)
print(list(filtered))

[1, 4, 9, 16, 25]
[1, 2]

#### [과제6_1102]:  [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [50]:
list4 = [1,-3,2,0,-5,6]
#내장함수
positive = list(filter(lambda x: x>0, list4))
print(positive)

#사용자함수
def positive_num (a):
    result = []
    for n in a:
        if n >0:
            result.append(n)
    return result


#간편한 for문을 사용해서 리턴한 것.
def positive_num2 (a):
    result = [n for n in a if n > 0] ###################
    return result

print(positive_num(list4))
print(positive_num2(list4))

[1, 2, 6]
[1, 2, 6]
[1, 2, 6]

#### [과제7_1102] : 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]

[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]

('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [21]:
print(list(zip([1,2,3],[4,5,6])))
print(list(zip([1,2,3],[4,5,6],[7,8,9])))
print(list(zip('abc','def')))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

#### [과제8_1102] : 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [70]:
def average (*args):
    return sum(args)/len(args)


def cal_avg(mun):
    print(f'합: {eval(mun)}')
    print(f"평균: {eval(mun)/len(mun.split('+')): 0.2f}")

# mun = input('평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ')
# mun_str = mun.replace(',','+')
# print(eval(mun_str)/(mun_str.count('+')+1))

def str_average(str):
    mun_str = str.replace(',','+')
    print(eval(mun_str)/(mun_str.count('+')+1))
    
mun = input('평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ')
str_average(mun)

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): 1,2,3
2.0

In [ ]:
#용규님 답안
def cal_list_avg(avgList):
    y = avgList.split(',')
    x = [int(i) for i in y]
    return sum(x) / len(x)

ans = input('평균값을 구할 숫자(콤마로 구분하여 입력): ')
print(cal_list_avg(ans))

#### [과제9_1102]: 동일한 사용자 함수를 만들어서 1 ~ 100의 합과 200 ~ 300의 합을 구하세요.

In [76]:
def sum_range(start,end):
    return sum(range(start,end+1))

sum_range(200,300)
sum_range(1,100)

5050

#### [과제10_1102] : url에서 쿼리문을 추출하여 출력하세요.

url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
출력은 2가지 형태
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [87]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

query_txt = url.split('?')[1].split('&')

print(query_txt)
for i in query_txt:
    print(i)

['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

#### [과제11_1102] : 영어 이름을 적으면 앞에 글자를 대문자로 바꾸어 주는 프로그램
(단 중간에 한칸씩 띄어주어야 함 ex)kim dong wan

이름을 영어로 입력하세요.kim dong wan
당신의 이름을 바꾸면 Kim Dong Wan 입니다.

In [90]:
name = input("이름을 영어로 입력하세요.: ")
print(f"당신의 이름을 바꾸면 {name.title()} 입니다.")

이름을 영어로 입력하세요.: noh eun mi
당신의 이름을 바꾸면 Noh Eun Mi 입니다.

#### [과제12_1102] : 문자 코드값 구하기(ord)

문자를 1개 입력하세요: a

문자: a, 코드값: 97

In [91]:
char_input = input("문자를 1개 입력하세요: ")
print(f'문자: {char_input}, 코드값: {ord(char_input)}')

문자를 1개 입력하세요: a
문자: a, 코드값: 97

#### [과제13_1102] : numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.

In [95]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
num_dict = {}

for n in numbers:
    if n in num_dict:
        num_dict[n] += 1
    else:
        num_dict[n] = 1
        
for key, value in num_dict.items():
    print(f'{key}: {value}번')

3: 4번
6: 2번
5: 2번
8: 2번
2: 2번
9: 2번
7: 2번
4: 2번
18

18

#### [과제14_1102] :코딩을 한줄로 작성해서 동일한 결과를 출력하세요

In [97]:
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [96]:
print([i*i for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

#### [과제15_1102] : 반복문으로 팩토리얼을 구하는 사용자 함수를 작성하고 5!, 10!를 구하세요.

In [100]:
def factorial (a):
    result = 1
    while a > 0:
        result *= a
        a -= 1
    return result

print(factorial(5))
print(factorial(10))

120
3628800

3628800

#### [과제16_1102] : list a의 모든 원소를 실수형으로 바꾸어 출력하세요

In [1]:
a = [1,2,3,4,5]

print(list(map(lambda x: float(x), a)))

[1.0, 2.0, 3.0, 4.0, 5.0]

In [17]:
a = [1,2,3,4,5]
a_float = list(map(float,a)) #float 자체가 함수이니깐 mapping을 바로 할 수 있음. map 함수 상당히 유용.

print(a_float)

[1.0, 2.0, 3.0, 4.0, 5.0]

#### [도전과제17_1102] : 문자열 리스트 states를 정형화하여 아래와 같이 출력하세요.

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
          
[출력]
['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [15]:
# [출력]
# ['Alabama',
#  'Georgia',
#  'Georgia',
#  'Georgia',
#  'Florida',
#  'South   Carolina',
#  'West Virginia']

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

#양 옆 스페이스 먼저 지우기
n_states = [state.strip() for state in states]

result_states = []

for state in n_states:
    if state.isalpha()==False:
        space_index = state.find(' ')
        temp_state = list(state)
        new_state = ""
        for i in range(len(temp_state)):
            if temp_state[i].isalpha():
                new_state += temp_state[i]
            if i == space_index:
                new_state += temp_state[i]
        result_states.append(new_state.title())
    else:
        result_states.append(state.title())

#리스트 형식에 맞게 세로로 출력
separate = '\',\n\''
separate_result = separate.join(result_states)
print(f'[\'{separate_result}\']')

['Alabama',
'Georgia',
'Georgia',
'Georgia',
'Florida',
'South Carolina',
'West Virginia']

In [18]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

def cleaning(text):
    cleaned_text = ''.join([x for x in text if x.isalnum() or x.isspace()])
    return cleaned_text

f_list = [cleaning(i).strip().title() for i in states]

print(f_list)

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina', 'West Virginia']

In [19]:
print(list(map(lambda x: x.replace('#','').replace('!','').replace('?','').strip().title(), states)))

['Alabama', 'Georgia', 'Georgia', 'Georgia', 'Florida', 'South   Carolina', 'West Virginia']